<% if current_user %>
  Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <div class="alert alert-warning" role="alert">
  Please login or <%= link_to 'register', [:signup] %> to enter the Jungle.
  </div>
<% end %>

<h1>Login</h1>

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>