<h1>Sign Up</h1>

<%= form_for :user, url: '/users' do |form| %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <strong>The following errors prevented saving:</strong>
      <ul>
        <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  First Name: <%= form.text_field :first_name %><br>
  Last Name: <%= form.text_field :last_name %><br>
  Email: <%= form.text_field :email %><br>
  Password: <%= form.password_field :password %><br>
  Password Confirmation: <%= form.password_field :password_confirmation %><br>
  <%= form.submit "Submit" %>

<% end %>