<div class="alert alert-secondary text-right" role="alert">
  <% if current_user %>
    Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
  <% end %>
</div>

<%= yield %>

<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <%= render 'product_details' %>
    </div>

  </article>

</section>
